.show-btn {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: white;
}

@media (min-width: 800px) {
  .show-btn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.equal {
  grid-column-start: 4;
  grid-column-end: 6;
}


.clr {
  color: hsl(355, 100%, 26%);
}

.exp {
  color: hsl(229, 100%, 10%);
}

.btn {
  width: auto;
  height: auto;
  padding: 6px;
  font-size: 24px;
  font-weight: lighter;
  font-family: system-ui;
  cursor: pointer;
  background: hsl(0, 0%, 96%);
  border: 1px solid hsl(0, 0%, 100%);
  user-select: none;
}

.btn:last-child {
  font-size: 24px;
  font-weight: lighter;
  font-family: system-ui;
  width: auto;
  height: auto;
  color: white;
  background-color: black;
}

@media (min-width: 800px) {
  .btn:hover {
    border: 1px solid hsl(0, 0%, 53%);
  }

  .btn:active {
    transform: scale(0.97);
    transition: transform 0.15s ease; 
  }

  .btn.touched {
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  .btn:active {
    transform: scale(0.97);
    transition: transform 0.15s ease; 
  }
}
