.show-btn {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 100%;
  /* padding: 10px; */
  /* box-sizing: border-box;
  border-radius: 0px 0px 12px 12px; */
  background-color: white;
}

.equal {
  grid-column-start: 4;
  grid-column-end: 6;
}

.clr {
  color: white;
  background: hsl(355, 100%, 26%) !important;
}

.exp {
  color: hsl(229, 100%, 10%);
}

.btn {
  width: auto;
  height: auto;
  padding: 12px 6px;
  font-size: 24px;
  font-weight: lighter;
  font-family: system-ui;
  cursor: pointer;
  background: hsl(0, 0%, 97%);
  border: 1px solid hsl(0, 0%, 99%);
  user-select: none;
  outline: none;
}

.btn:last-child {
  font-size: 24px;
  font-weight: lighter;
  font-family: system-ui;
  width: auto;
  height: auto;
  color: white;
  background-color: black;
}

.active {
  border: 1px solid hsl(0, 0%, 31%);
  transform: scale(0.97);
  transition: transform 0.15s ease; 
}

@media (min-width: 800px) {
  .btn:hover {
    border: 1px solid hsl(0, 0%, 31%);
  }

  .btn:active {
    transform: scale(0.97);
    transition: transform 0.15s ease; 
  }

  .btn.touched {
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  .btn:active {
    transform: scale(0.97);
    transition: transform 0.15s ease; 
  }
}
